/*Start of row 2 - column 2: game board section*/
.tile {
    border: 1px solid #00004f;
    margin: -1px;
    width: 30px;
    height: 30px;
}

.tile:hover {
    transform: scale(1.1);
}

.board {
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    border: 4px solid #00004F;
    border-radius: 5px;
    background-color: #00004F;
}
/*End of row 2 - column 2: game board section*/