body {
    width: 100%;
    height: 100%;
    background-color: #F1E0CC;
}

.game {
    width: 100%;
    height: 100%;
    background-color: #F1E0CC;
    display: grid;
    grid-template-columns: 400px 435px 400px;
    font-family: "Helvetica";
}

.round {
    font-size: larger;
    color: #00004F;
    width : 100%;
    height : 100%;
    position: relative;
    left: 40%;
    top: 70%;
}